.hero__card-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.hero__card-container__card {
    width: 30%;
    height: 600px;
    background-color: var(--hero-items-bg);
    border-radius: 8px;
    padding: 1em;
    transition: all 0.25s ease-in-out;
}

.hero__card-container__card:hover {
    /* box-shadow: inset 0px 0px 16px 12px rgba(0, 0, 0, .4); */
    box-shadow: 0px 0px 16px 1px rgba(255, 255, 255, 1);
    scale: 1.05;
}

.hero__card-container__card__image {
    width: 100%;
    height: 50%;
}

.hero__card-container__card__image__img {
    max-width: 300px;
    max-height: 600px;
    width: 100%;
    /* height: 100%; */
}

.hero__card-container__card__content__title {
    margin-bottom: 20px;
    font-size: 1.5em;
}

.hero__card-container__card__content {
    width: 100%;
    height: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: var(--hero-items-bg);
}

.card-content>* {
    font-size: 1.25em;
    color: white;
    text-align: center;
}

.card-footer p {
    text-align: center;
}

.card-footer-item>span>a {
    color: var(--strong-highlight) !important;
}

@media only screen and (max-width:1199px) {
    .hero__card-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .hero__card-container__card {
        width: 90%;
        margin-block: 1em;
    }
}

@media only screen and (max-width: 874px) {
    .hero__card-container__card {
        height: auto;
    }

    .hero__card-container__card__image {
        width: 100%;
        height: 40%;
    }

    .hero__card-container__card__image__img {
        width: 100%;
    }

    .hero__card-container__card__content {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero__card-container__card__content__title {
        font-size: 1.75em !important;
        margin-bottom: 1em;
    }

    .hero__card-container__card__content__content {
        text-align: left;
    }

    .hero-card-carousel {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
    }

    .hero-card--testimonial {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .hero-card--testimonial-image {
        width: 100%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-card--testimonial-image>img {
        width: 100%;
        border-radius: 100%;
        border: 2px solid white;
    }

    .hero-card--testimonial-content {
        width: 100%;
        height: 40%;
        padding-top: 1em;
    }

    .hero-card--testimonial-content>p {
        text-align: center;
    }
}