.hero__carousel-card {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

.carousel {
    width: 100%;
    height: 750px;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    transition: transform 0.7s ease-in-out;
}

.hero__carousel-card__card {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    background-color: var(--hero-items-bg);
}

.hero__carousel-card__card__image {
    width: 100%;
    height: 70%;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__carousel-card__card__content {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.hero__carousel-card__card__content>* {
    text-align: center;
}

.hero__carousel-card__card__content__title {
    font-size: 1.5em;
}

.hero__carousel-card__card__content__subtitle {
    font-weight: 600;
    font-size: 2em;
    text-transform: capitalize;
}

.hero__carousel-card__card__content__text {
    font-size: 1.5em;
}

.hero__carousel-card__controllers {
    width: 95%;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.prev-btn,
.next-btn {
    width: 100px;
    height: 80px;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.prev-btn:active,
.next-btn:active {
    scale: 0.9;
}

.prev-btn:hover,
.next-btn:hover {
    scale: 1.05;
    animation-name: rotator;
    animation-duration: 0.2s;
}

@keyframes rotator {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.prev-btn>img,
.next-btn>img {
    width: 100%;
    height: 100%;
}

.next-btn>img {
    transform: scaleX(-1);
}

@media only screen and (min-width: 1200px) {
    .hero__carousel-card__card__image__img {
        max-width: 50%;
        max-height: 100%;
        width: 600px;
        height: 650px;
        object-fit: contain;
        border-radius: 50%;
        border: 2px solid white;
    }
}

@media only screen and (max-width: 1199px) {
    .hero__carousel-card__card__image {
        height: 60%;
    }

    .hero__carousel-card__card__image__img {
        width: 60%;
        height: 90%;
        object-fit: contain;
        border-radius: 50%;
        border: 2px solid white;
    }

    .hero__carousel-card__card__content {
        height: 40%;
    }
}

@media only screen and (max-width: 874px) {
    .hero__carousel-card__controllers {
        position: absolute;
        bottom: 10px;
    }

    .prev-btn,
    .next-btn {
        width: 50px;
        height: 40px;
        background: none;
        outline: none;
        border: none;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }
}

@media only screen and (max-width: 520px) {
    .hero__carousel-card__card__image {
        width: 100%;
        height: 70%;
    }

    .hero__carousel-card__card__image__img {
        width: 90%;
        height: 75%;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid white;
    }
}