@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
:root {
    --page-background: #222222;
    --strong-highlight: #539BDF;
    --hero-inline-padding: 1em;
    --hero-block-padding: 0.5em;
    --width-100: 100%;
    --width-80: 80%;
    --width-30: 25%;
    --general-font-size: 1em;
}

html {
    background-color: var(--page-background);
    font-size: var(--general-font-size);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    box-sizing: border-box
}

body {
    margin: 0;
}

.main-hero {
    width: var(--width-100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero {
    width: var(--width-80);
    padding-inline: var(--hero-inline-padding);
    padding-block: var(--hero-block-padding);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
}
.hero-card {
    background-color:brown;
    padding: 1em;
}
#intro {
    height: 90vh;
}
.hero > * {
    width: 100%;
    text-align: center;
    margin-block: 0.5em;
}
.hero p{
    font-size: 1.25em;
    color: white;
    margin-block: 2em;
}
.hero strong {
    color: var(--strong-highlight);
}
.hero img{
    width: 100%;
    height: 300px;
}
.section-separator {
    display: block;
    width: 100%;
    height: 2px;
    margin-block: 2em;
    background-color: #c2c2c2;
}
.hero-card img{
    max-width: 300px;
    width: 80%;
}
.hero-card h1 {
    font-size: 1.75rem;
}