@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import "cards.css";
@import "carousel.css";
@import 'form.css';
@import "footer.css";

:root {
    --page-background: #222222;
    /* --strong-highlight: #539BDF; */
    --strong-highlight: #6E07F3;
    --hero-items-bg: #5BE9B9;
    --hero-inline-padding: 1em;
    --hero-block-padding: 0.5em;
    --width-100: 100%;
    --width-80: 80%;
    --width-30: 25%;
    --general-font-size: 1em;
    --light-gray: #c2c2c2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: white;
}

html {
    background-color: var(--page-background) !important;
    font-size: var(--general-font-size);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    box-sizing: border-box
}

body {
    margin: 0;
}

.main {
    width: var(--width-100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero {
    width: var(--width-80);
    padding-inline: var(--hero-inline-padding);
    padding-block: var(--hero-block-padding);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#intro {
    height: 90vh;
}

.hero>* {
    width: 100%;
    text-align: center;
    margin-block: 0.5em;
}

.hero__title--medium {
    font-size: 2em;
    font-weight: 800;
}

.hero__title {
    font-size: 2.5em;
}

.hero__title--medium {
    font-size: 1.5em;
}

.hero__content {
    font-size: 1.75em;
    color: white;
    margin-block: 2em;
}

.hero__highlight {
    color: var(--strong-highlight);
    font-weight: 800;
}

.hero__highlight--green {
    color: var(--hero-items-bg);
    font-weight: 800;
}

.hero__image {
    width: 100%;
    height: 300px;
}

.hero__testimonial {
    width: 80%;
    height: 30vh;
    position: relative;
    background-color: var(--hero-items-bg);
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}

.hero__testimonial--right-arrow {
    align-items: left;
    /* clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%); */
    border-top-right-radius: 300px;
}

.hero__testimonial--left-arrow {
    display: flex;
    align-items: right;
    /* clip-path: polygon(100% 0%, 25% 0%, 0% 50%, 25% 100%, 100% 100%); */
    border-bottom-left-radius: 300px;
}

.hero__testimonial__image {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__testimonial__image__img {
    width: 90%;
    height: 90%;
    object-fit: contain;
    box-shadow: 5px 5px 5px 5px rgba(0, 200, 0, 0.4);
}

.hero__testimonial--left-arrow>.hero__testimonial__content {
    display: flex;
    align-items: flex-end;
}

.hero__testimonial__content {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__testimonial__content__title {
    font-size: 1.5em;
    font-weight: 400;
}

.hero__testimonial__content__subtitle {
    font-size: 1.75em;
    font-weight: 800;
    margin-block: 1em;
}

.hero__testimonial__content__text {
    font-size: 1.25em;
    font-weight: 300;
    font-style: italic;
}

.hero__contact {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.hero__contact__section {
    width: 45%;
    height: 80%;
}


.hero__contact__menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.hero__contact-menu__item__title {
    font-size: 1.5em;
    transition: all 0.2s ease-in-out;
}

.hero__contact-menu__item__title:hover {
    color: var(--hero-items-bg);
}

.section-separator {
    display: block;
    width: 100%;
    height: 2px;
    margin-block: 2em;
    background-color: var(--light-gray);
}

.section-separator--dark {
    background-color: var(--page-background);
}

.section-separator--small {
    display: block;
    width: 100%;
    height: 2px;
    margin-block: 2em;
    background-color: black;
}

.title {
    font-size: 3em !important;
}

.content p {
    text-align: center;
}

@media only screen and (max-width: 874px) {
    #intro {
        height: auto;
    }

    #intro>p {
        text-align: center;
        font-size: xx-large;
    }

    .hero {
        width: 100%;
    }

    #testimonial-title {
        font-size: 2.5em !important;
    }

    .hero__contact {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-items: center;
        align-items: center;
    }

    .hero__contact__section {
        width: 80%;
        height: 60vh;
        margin-block: 1em;
    }

    .hero__testimonial__image {
        margin-inline: 10px;
    }

    .hero__testimonial__image__img {
        width: 90%;
        height: 90%;
        object-fit: contain;
        box-shadow: 0px 0px 5px 5px rgba(0, 200, 0, 0.4);
    }

    .hero__testimonial--right-arrow {
        display: flex;
        align-items: left;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }

    .hero__testimonial--left-arrow {
        display: flex;
        align-items: right;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }

    .hero__testimonial__content__title {
        font-size: 1.25em;
        font-weight: 400;
    }

    .hero__testimonial__content__subtitle {
        font-size: 1.5em;
        font-weight: 800;
        margin-block: 1em;
    }

    .hero__testimonial__content__text {
        font-size: 1em;
        font-weight: 300;
        font-style: italic;
    }
}