@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
:root {
    --page-background: #222222;
    /* --strong-highlight: #539BDF; */
    --strong-highlight: #6E07F3;
    --hero-items-bg: #5BE9B9;
    --hero-inline-padding: 1em;
    --hero-block-padding: 0.5em;
    --width-100: 100%;
    --width-80: 80%;
    --width-30: 25%;
    --general-font-size: 1em;
}

html {
    background-color: var(--page-background);
    font-size: var(--general-font-size);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    box-sizing: border-box
}

body {
    margin: 0;
}

.main-hero {
    width: var(--width-100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero {
    width: var(--width-80);
    padding-inline: var(--hero-inline-padding);
    padding-block: var(--hero-block-padding);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-card-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
}
.hero-card {
    width: 27%;
    height: 500px;
    background-color: var(--hero-items-bg);
    border-radius: 8px;
    padding: 1em;
    transition: all 0.25s ease-in-out;
}

.hero-card:hover{
    box-shadow: inset 0px 0px 16px 12px rgba(0,0,0,.4);
    scale: 1.05;
}

.hero-card-carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}
.carousel{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    transition: transform 0.7s ease-in-out;
}
  
.hero-card--testimonial {
    width: 100%;
    flex-shrink: 0;
    padding: 0.5em;
    background-color: var(--hero-items-bg);
}
.hero-card-carousel--controllers{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
}
.hero-card--testimonial > img{
    width: 25%;
    border-radius: 50%;
    border: 2px solid white;
    margin-bottom: 1em;
}
.hero-card--testimonial > p{
    text-align: center;
}
.testimonial-usrname {
    font-weight: 600;
    text-transform: capitalize;
}
.testimonial-usrposition {
}
.prev-btn,
.next-btn{
    width: 100px;
    height: 75px;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.prev-btn:active,
.next-btn:active{
    scale: 0.9;
}
.prev-btn:hover,
.next-btn:hover{
    scale: 1.05;
}
.prev-btn > img,
.next-btn > img{
    width: 100%;
    height: 100%;
}
.next-btn > img{
    transform: scaleX(-1);
}
#intro {
    height: 90vh;
}
.hero > * {
    width: 100%;
    text-align: center;
    margin-block: 0.5em;
}
.hero > p{
    font-size: 1.25em;
    color: white;
    margin-block: 2em;
}
.hero strong {
    color: var(--strong-highlight);
    font-weight: 800;
}
.hero > img{
    width: 100%;
    height: 300px;
}
.section-separator {
    display: block;
    width: 100%;
    height: 2px;
    margin-block: 2em;
    background-color: #c2c2c2;
}
.section-separator-dark {
    background-color: var(--page-background);
}
.hero-card > img{
    max-width: 300px;
    width: 80%;
}
.hero-card > h1 {
    font-size: 1.75rem;
}
.hero-card > h1,
.hero-card > p{
    color: black;
}
@media only screen and (max-width:1199px) {
    .hero-card-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .hero-card{
        width: 90%;
        margin-block: 1em;
    }
}
@media only screen and (max-width: 874px) {
    #intro {
        height: auto;
    }
}