{% extends 'base.html' %}
{% block content %}
  <section class="main-hero">
    <section class="hero" id="intro">
      <h1 class="title">Hello, my name is Adrian</h1>
      <p>I'm a freelance <strong>Full Stack Software Engineer</strong> ready to help you <strong>impress your clients</strong>
      with a visually stunning website or a customized software solution.</p>
      <img src="./static/images/hero-devices.svg" alt="Devices">
    </section>
    <div class="section-separator"></div>
    <section class="hero">
      <h1 class="title">I can help you with</h1>
      <section class="hero-card-container">
        <section class="hero-card">
          <div class="hero-card--image">
            <img src="./static/images/front-development.png" alt="Frontend Development">
          </div>
          <div class="section-separator section-separator--small section-separator-dark"></div>
          <div class="hero-card--content">
            <h1>Front-End Development</h1>
            <p>I'll <strong>structure, design and develop</strong> a completely modern and 
              functional website.</p>
          </div>
        </section>
        <section class="hero-card">
          <div class="hero-card--image">
            <img src="./static/images/tools.png" alt="SEO Tools">
          </div>
          <div class="section-separator section-separator--small section-separator-dark"></div>
          <div class="hero-card--content">
            <h1>Performance, SEO & accessibility testing</h1>
            <p>Already have a website? Great, lets see how we can <strong>upgrade it to
              help you reach more clients and secure sells</strong>.
            </p>
          </div>
        </section>
        <section class="hero-card">
          <div class="hero-card--image">
            <img src="./static/images/app-development.png" alt="App Development">
          </div>
          <div class="section-separator section-separator--small section-separator-dark"></div>
          <div class="hero-card--content">
            <h1>Create custom apps</h1>
            <p>If you already have a business <strong>I can help you improve operations</strong>.
            </p>
          </div>
        </section>
      </section>
    </section>
    <div class="section-separator"></div>
    <section class="hero">
      <h1 class="title">My recent work</h1>
      <div class="card">
        <div class="card-content">
          <div class="content">
            <p>
              I don't have public projects yet, contact me and let me show you my worth.
            </p>
          </div>
          <footer class="card-footer">
            <p class="card-footer-item">
              <span>
                Reach me on <a href="https://twitter.com/AdrianH0104" target="_blank">Twitter</a>
              </span>
            </p>
            <p class="card-footer-item">
              <span>
                Send me an <a href="mailto:j.adrian.hr.ramirez@gmail.com
                " target="_blank">Email</a>
              </span>
            </p>
          </footer>
        </div>
      </div>
    </section>
    <div class="section-separator"></div>
    <section class="hero">
      <h1 class="title" id="testimonial-title">Testimonials</h1>
      <h2>This is what the people that have worked with me have to say</h2>
      <section class="hero-card-carousel">
        <div class="carousel">
          <section class="hero-card--testimonial">
            <div class="hero-card--testimonial-image">
              <img src="./static/images/user.png" alt="" class="testimonial-img">
            </div>
            <div class="hero-card--testimonial-content">
              <p class="testimonial-comment">Test comment 1</p>
              <p class="testimonial-usrname">Testimonial author</p>
              <p class="testimonial-usrposition">Position, enterprise</p>
            </div>
          </section>
          <section class="hero-card--testimonial">
            <div class="hero-card--testimonial-image">
              <img src="./static/images/user.png" alt="" class="testimonial-img">
            </div>
            <div class="hero-card--testimonial-content">
              <p class="testimonial-comment">Test comment 2</p>
              <p class="testimonial-usrname">Testimonial author</p>
              <p class="testimonial-usrposition">Position, enterprise</p>
          </section>
          <section class="hero-card--testimonial">
            <div class="hero-card--testimonial-image">
              <img src="./static/images/user.png" alt="" class="testimonial-img">
            </div>
            <div class="hero-card--testimonial-content">
              <p class="testimonial-comment">Test comment 3</p>
              <p class="testimonial-usrname">Testimonial author</p>
              <p class="testimonial-usrposition">Position, enterprise</p>
          </section>
          <section class="hero-card--testimonial">
            <div class="hero-card--testimonial-image">
              <img src="./static/images/user.png" alt="" class="testimonial-img">
            </div>
            <div class="hero-card--testimonial-content">
              <p class="testimonial-comment">Test comment 4</p>
              <p class="testimonial-usrname">Testimonial author</p>
              <p class="testimonial-usrposition">Position, enterprise</p>
          </section>
        </div>
        <section class="hero-card-carousel--controllers">
          <button class="prev-btn" onclick="goToPrevious()"><img src="./static/images/back.png" alt=""></button>
          <button class="next-btn" onclick="goToNext()"><img src="./static/images/back.png" alt=""></button>
        </section>
      </section>
    </section>
    <footer class="footer">
      <section class="footer-item">
        <p>I am a Full Stack Software Engineer with 1+ year of professional Web Development.</p>
        <p>I create successful websites that are fast, easy to use, and built with best practices.</p>
      </section>
      <section class="footer-item">
        <section class="footer-hero">
          <h1>Contact me on...</h1>
          <ul class="contact-menu">
            <li class="contact-item">
              <a href="" class="contact-item--title">Email</a>
              <p class="contact-item--description">Main way of comunnication, always checking it</p>
            </li>
            <li class="contact-item">
              <a href="" class="contact-item--title">GitHub</a>
              <p class="contact-item--description">Watch my personal projects and collabs</p>
            </li>
            <li class="contact-item">
              <a href="" class="contact-item--title">LinkedIn</a>
              <p class="contact-item--description">Let's connect</p>
            </li>
            <li class="contact-item">
              <a href="" class="contact-item--title">Twitter</a>
              <p class="contact-item--description">Follow for web design & development articles, opinions, and links</p>
            </li>
          </ul>
        </section>
      </section>
      <section class="footer-item">
        <section class="footer-hero">
          <h1>Watch more about me</h1>
          <ul class="contact-menu">
            <li class="contact-item">
              <a href="" class="contact-item--title">Portfolio</a>
              <p class="contact-item--description">Watch my public project with other clients!</p>
            </li>
            <li class="contact-item">
              <a href="" class="contact-item--title">Testimonials</a>
              <p class="contact-item--description">Check my quality and performance based on my clients opinions!</p>
            </li>
            <li class="contact-item">
              <a href="" class="contact-item--title">Contact</a>
              <p class="contact-item--description">Let's schedule a date and talk about how I can help you!</p>
            </li>
          </ul>
        </section>
      </section>
    </footer>
  </section>
  <script src="./static/js/carousel.js"></script>
{% endblock %}