<header class="header">
  <a href="/" class="logo">
    <img src="./static/images/Logo_NoBG_White.png" alt="Brand Logo" />
  </a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a href="#one" class="link link-theme link-arrow">HOME</a></li>
    <li><a href="#two" class="link link-theme link-arrow">PORTFOLIO</a></li>
    <li>
      <a href="#three" class="link link-theme link-arrow">TESTIMONIALS</a>
    </li>
    <li><a href="#four" class="link link-theme link-arrow">CONTACT</a></li>
  </ul>
</header>