{% extends 'base.html' %} {% block content %}
<section class="hero">
	<h1 class="hero__title">My recent work</h1>
	<!-- Bulma Card -->
	<div class="card">
		<div class="card-content">
			<div class="content">
				<p>
					I don't have public projects yet, contact me and let me show
					you my worth.
				</p>
			</div>
			<footer class="card-footer">
				<p class="card-footer-item">
					<span>
						Reach me on
						<a
							href="https://twitter.com/AdrianH0104"
							target="_blank"
							>Twitter</a
						>
					</span>
				</p>
				<p class="card-footer-item">
					<span>
						Send me an
						<a
							href="mailto:j.adrian.hr.ramirez@gmail.com
              "
							target="_blank"
							>Email</a
						>
					</span>
				</p>
			</footer>
		</div>
	</div>
	<!-- End Of Bulma Card -->
</section>
{% endblock %}
