{% extends 'base.html' %} {% block content %}
<section class="hero__testimonial hero__testimonial--right-arrow">
	<div class="hero__testimonial__image">
		<img
			src="./static/images/user.png"
			alt=""
			class="hero__testimonial__image__img" />
	</div>
	<div class="hero__testimonial__content">
		<p class="hero__testimonial__content__title">Test comment 1</p>
		<p class="hero__testimonial__content__subtitle">Testimonial author</p>
		<p class="hero__testimonial__content__text">Position, enterprise</p>
	</div>
</section>
<section class="hero__testimonial hero__testimonial--left-arrow">
	<div class="hero__testimonial__content">
		<p class="hero__testimonial__content__title">Test comment 2</p>
		<p class="hero__testimonial__content__subtitle">Testimonial author</p>
		<p class="hero__testimonial__content__text">Position, enterprise</p>
	</div>
	<div class="hero__testimonial__image">
		<img
			src="./static/images/user.png"
			alt=""
			class="hero__testimonial__image__img" />
	</div>
</section>
<section class="hero__testimonial hero__testimonial--right-arrow">
	<div class="hero__testimonial__image">
		<img
			src="./static/images/user.png"
			alt=""
			class="hero__testimonial__image__img" />
	</div>
	<div class="hero__testimonial__content">
		<p class="hero__testimonial__content__title">Test comment 3</p>
		<p class="hero__testimonial__content__subtitle">Testimonial author</p>
		<p class="hero__testimonial__content__text">Position, enterprise</p>
	</div>
</section>
{% endblock %}
